.hero-slide {
  height: 500px !important;
  display: flex;
  position: relative;
  overflow: hidden;
}
.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-slider .content {
  position: relative;
  z-index: 2;
}
