/* global styles */
@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900&display=swap');

body {
  font-family: 'Barlow', sans-serif;
  background-color: #efefef;
}

.bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}
